# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=FITCONNECT_ANALYTICS
SNOWFLAKE_SCHEMA=RAW

# Anthropic
ANTHROPIC_API_KEY=

# App
APP_ENV=development
